# Lab4 
## Структури для роботи з великими обсягами даних в Python
 **Мета**: отримати навички роботи із структурами для зберігання в Python (python, numpy, pandas, numpy array, dataframe, timeit) <br>
**Основні поняття**: numpy масиви, кортежі, списки, фрейми,профілювання.

In [1]:
import pandas as pd
import numpy as np
import timeit

### Таймер для підрахунку часу роботи функції

In [131]:
def timer(function, number=1):
    execution_time = timeit.timeit(function, number=number)
    print(f"Execution time: {execution_time:.6f} seconds")
    return f'{execution_time:.6f}'

In [92]:
import cProfile
cProfile.run("pandas_read_file()")

         4138 function calls (4106 primitive calls) in 1.484 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        6    0.000    0.000    0.000    0.000 <__array_function__ internals>:177(copyto)
        8    0.000    0.000    0.000    0.000 <frozen abc>:117(__instancecheck__)
        1    0.000    0.000    0.000    0.000 <frozen abc>:121(__subclasscheck__)
        1    0.000    0.000    0.000    0.000 <frozen codecs>:260(__init__)
        1    0.000    0.000    0.000    0.000 <frozen codecs>:309(__init__)
      521    0.001    0.000    0.010    0.000 <frozen codecs>:319(decode)
      521    0.000    0.000    0.000    0.000 <frozen codecs>:331(getstate)
        6    0.000    0.000    0.000    0.000 <frozen importlib._bootstrap>:1207(_handle_fromlist)
        3    0.000    0.000    0.000    0.000 <frozen ntpath>:319(expanduser)
        1    0.000    0.000    1.466    1.466 <ipython-input-90-0dbcc5c9ea46>:1(pandas_read_file)
        1    0.000    0.000    0.000    0.000 <string>:1(<lambda>)
        1    0.018    0.018    1.484    1.484 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 <string>:2(__init__)
        3    0.000    0.000    0.000    0.000 __init__.py:225(compile)
        3    0.000    0.000    0.000    0.000 __init__.py:272(_compile)
        2    0.000    0.000    0.000    0.000 _asarray.py:112(<setcomp>)
        2    0.000    0.000    0.000    0.000 _asarray.py:31(require)
        1    0.000    0.000    1.466    1.466 _decorators.py:170(wrapper)
      2/1    0.000    0.000    1.466    1.466 _decorators.py:323(wrapper)
        1    0.000    0.000    0.000    0.000 _methods.py:55(_any)
        2    0.000    0.000    0.000    0.000 _ufunc_config.py:132(geterr)
        2    0.000    0.000    0.000    0.000 _ufunc_config.py:33(seterr)
        1    0.000    0.000    0.000    0.000 _ufunc_config.py:426(__init__)
        1    0.000    0.000    0.000    0.000 _ufunc_config.py:430(__enter__)
        1    0.000    0.000    0.000    0.000 _ufunc_config.py:435(__exit__)
        1    0.000    0.000    0.000    0.000 _validators.py:226(validate_bool_kwarg)
        1    0.000    0.000    0.000    0.000 base.py:148(is_consolidated)
        2    0.000    0.000    0.000    0.000 base.py:1734(name)
        3    0.000    0.000    0.000    0.000 base.py:241(disallow_kwargs)
        1    0.000    0.000    0.000    0.000 base.py:2752(_is_all_dates)
        3    0.000    0.000    0.000    0.000 base.py:2783(_is_multi)
        2    0.000    0.000    0.000    0.000 base.py:324(ndim)
      6/3    0.000    0.000    0.000    0.000 base.py:430(__new__)
        1    0.000    0.000    0.000    0.000 base.py:46(__len__)
        8    0.000    0.000    0.000    0.000 base.py:494(find)
        7    0.000    0.000    0.000    0.000 base.py:5090(_values)
        1    0.000    0.000    0.000    0.000 base.py:5464(equals)
        2    0.000    0.000    0.000    0.000 base.py:555(<genexpr>)
        1    0.000    0.000    0.000    0.000 base.py:5551(identical)
        2    0.000    0.000    0.000    0.000 base.py:5564(<genexpr>)
        3    0.000    0.000    0.000    0.000 base.py:574(_ensure_array)
        3    0.000    0.000    0.000    0.000 base.py:58(_validate_set_axis)
        3    0.000    0.000    0.000    0.000 base.py:588(_dtype_to_subclass)
        3    0.000    0.000    0.000    0.000 base.py:690(_simple_new)
        3    0.000    0.000    0.001    0.000 base.py:708(_with_infer)
       10    0.000    0.000    0.001    0.000 base.py:7277(ensure_index)
       10    0.000    0.000    0.000    0.000 base.py:7372(maybe_extract_name)
        3    0.000    0.000    0.000    0.000 base.py:7396(_maybe_cast_data_without_dtype)
        1    0.000    0.000    0.000    0.000 base.py:742(__iter__)
        1    0.000    0.000    0.000    0.000 base.py:839(is_)
        4    0.000    0.000    0.000    0.000 base.py:870(_reset_identity)
       12    0.000    0.000    0.000    0.000 base.py:925(__len__)
        3    0.000    0.000    0.000    0.000 base.py:986(dtype)
        1    0.000    0.000    0.000    0.000 base_parser.py:1056(_make_date_converter)
        1    0.000    0.000    0.000    0.000 base_parser.py:1148(_process_date_conversion)
        2    0.000    0.000    0.000    0.000 base_parser.py:1283(_is_potential_multi_index)
        4    0.000    0.000    0.000    0.000 base_parser.py:1308(<genexpr>)
        1    0.000    0.000    0.000    0.000 base_parser.py:1312(_validate_parse_dates_arg)
        3    0.000    0.000    0.000    0.000 base_parser.py:1334(is_index_col)
        1    0.000    0.000    0.000    0.000 base_parser.py:165(_validate_parse_dates_presence)
        1    0.000    0.000    0.000    0.000 base_parser.py:209(<setcomp>)
        1    0.000    0.000    0.000    0.000 base_parser.py:221(<listcomp>)
        1    0.000    0.000    0.000    0.000 base_parser.py:229(_has_complex_date_col)
        1    0.000    0.000    0.000    0.000 base_parser.py:258(_extract_multi_indexer_columns)
        1    0.000    0.000    0.000    0.000 base_parser.py:327(_maybe_dedup_names)
        1    0.000    0.000    0.000    0.000 base_parser.py:358(_maybe_make_multi_index_columns)
        1    0.000    0.000    0.000    0.000 base_parser.py:370(_make_index)
        1    0.000    0.000    0.000    0.000 base_parser.py:612(_set_noconvert_dtype_columns)
        1    0.000    0.000    0.000    0.000 base_parser.py:814(_do_date_conversions)
        1    0.000    0.000    0.000    0.000 base_parser.py:834(_check_data_length)
        1    0.000    0.000    0.000    0.000 base_parser.py:88(__init__)
        1    0.000    0.000    0.000    0.000 base_parser.py:924(_validate_usecols_arg)
        2    0.000    0.000    0.000    0.000 blocks.py:2091(maybe_coerce_values)
        4    0.000    0.000    0.000    0.000 blocks.py:2120(get_block_type)
        2    0.000    0.000    0.000    0.000 blocks.py:2172(new_block)
        2    0.000    0.000    0.000    0.000 blocks.py:2186(check_ndim)
        1    0.000    0.000    0.000    0.000 blocks.py:2250(extend_blocks)
        2    0.000    0.000    0.000    0.000 blocks.py:500(dtype)
        1    0.000    0.000    0.000    0.000 blocks.py:544(copy)
        1    0.000    0.000    0.006    0.006 c_parser_wrapper.py:190(close)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:197(_set_noconvert_columns)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:208(<dictcomp>)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:209(<listcomp>)
        1    0.000    0.000    1.381    1.381 c_parser_wrapper.py:218(read)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:314(<listcomp>)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:318(<dictcomp>)
        1    0.000    0.000    0.000    0.000 c_parser_wrapper.py:416(ensure_dtype_objs)
        1    0.003    0.003    0.004    0.004 c_parser_wrapper.py:49(__init__)
        2    0.000    0.000    0.000    0.000 cast.py:1178(maybe_infer_to_datetimelike)
        8    0.000    0.000    0.000    0.000 cast.py:1422(sanitize_to_nanoseconds)
        3    0.000    0.000    0.000    0.000 cast.py:1763(construct_1d_object_array_from_listlike)
        1    0.000    0.000    0.000    0.000 common.py:1102(_maybe_memory_map)
        1    0.000    0.000    0.000    0.000 common.py:112(close)
        2    0.000    0.000    0.000    0.000 common.py:1147(_is_binary_mode)
        3    0.000    0.000    0.000    0.000 common.py:1154(needs_i8_conversion)
        2    0.000    0.000    0.000    0.000 common.py:116(ensure_python_int)
       19    0.000    0.000    0.000    0.000 common.py:1246(is_float_dtype)
        6    0.000    0.000    0.000    0.000 common.py:1278(is_bool_dtype)
        1    0.000    0.000    0.000    0.000 common.py:136(is_url)
       11    0.000    0.000    0.000    0.000 common.py:1420(is_1d_only_ea_dtype)
       30    0.000    0.000    0.000    0.000 common.py:1433(is_extension_array_dtype)
       28    0.000    0.000    0.000    0.000 common.py:146(classes)
       28    0.000    0.000    0.000    0.000 common.py:148(<lambda>)
       12    0.000    0.000    0.000    0.000 common.py:1487(is_ea_or_datetimelike_dtype)
       29    0.000    0.000    0.000    0.000 common.py:151(classes_and_not_datetimelike)
        6    0.000    0.000    0.000    0.000 common.py:1556(get_dtype)
       29    0.000    0.000    0.000    0.000 common.py:156(<lambda>)
       57    0.000    0.000    0.000    0.000 common.py:1591(_is_dtype_type)
        9    0.000    0.000    0.000    0.000 common.py:162(is_object_dtype)
        3    0.000    0.000    0.000    0.000 common.py:164(_expand_user)
        6    0.000    0.000    0.000    0.000 common.py:1725(validate_all_hashable)
       12    0.000    0.000    0.000    0.000 common.py:1744(<genexpr>)
        6    0.000    0.000    0.000    0.000 common.py:1751(pandas_dtype)
        1    0.000    0.000    0.000    0.000 common.py:183(validate_header_arg)
        1    0.000    0.000    0.000    0.000 common.py:192(all_none)
        2    0.000    0.000    0.000    0.000 common.py:196(<genexpr>)
        2    0.000    0.000    0.000    0.000 common.py:224(stringify_path)
        6    0.000    0.000    0.000    0.000 common.py:235(asarray_tuplesafe)
        1    0.000    0.000    0.000    0.000 common.py:268(is_fsspec_url)
        1    0.000    0.000    0.000    0.000 common.py:280(_get_filepath_or_buffer)
        1    0.000    0.000    0.000    0.000 common.py:303(maybe_iterable_to_list)
        1    0.000    0.000    0.000    0.000 common.py:494(get_compression_method)
        1    0.000    0.000    0.000    0.000 common.py:529(infer_compression)
        1    0.000    0.000    0.000    0.000 common.py:537(is_string_or_object_np_dtype)
       11    0.000    0.000    0.000    0.000 common.py:566(require_length_match)
        1    0.000    0.000    0.001    0.001 common.py:645(get_handle)
       23    0.000    0.000    0.000    0.000 common.py:684(is_integer_dtype)
        3    0.000    0.000    0.000    0.000 common.py:736(is_signed_integer_dtype)
        3    0.000    0.000    0.000    0.000 common.py:790(is_unsigned_integer_dtype)
        3    0.000    0.000    0.000    0.000 config.py:116(_get_single_key)
        3    0.000    0.000    0.000    0.000 config.py:134(_get_option)
        3    0.000    0.000    0.000    0.000 config.py:262(__call__)
        3    0.000    0.000    0.000    0.000 config.py:579(_select_options)
        3    0.000    0.000    0.000    0.000 config.py:597(_get_root)
        6    0.000    0.000    0.000    0.000 config.py:611(_get_deprecated_option)
        3    0.000    0.000    0.000    0.000 config.py:638(_translate_key)
        3    0.000    0.000    0.000    0.000 config.py:650(_warn_if_deprecated)
        1    0.000    0.000    0.055    0.055 construction.py:100(arrays_to_mgr)
        1    0.000    0.000    0.000    0.000 construction.py:231(mgr_to_mgr)
       15    0.000    0.000    0.000    0.000 construction.py:399(extract_array)
        1    0.000    0.000    0.056    0.056 construction.py:423(dict_to_mgr)
        8    0.000    0.000    0.000    0.000 construction.py:461(ensure_wrapped_if_datetimelike)
        1    0.000    0.000    0.000    0.000 construction.py:488(<listcomp>)
       14    0.000    0.000    0.000    0.000 construction.py:493(sanitize_array)
        1    0.000    0.000    0.000    0.000 construction.py:588(_homogenize)
       14    0.000    0.000    0.000    0.000 construction.py:676(_sanitize_ndim)
       14    0.000    0.000    0.000    0.000 construction.py:713(_sanitize_str_dtypes)
       14    0.000    0.000    0.000    0.000 construction.py:733(_maybe_repeat)
       14    0.000    0.000    0.000    0.000 construction.py:744(_try_cast)
        4    0.000    0.000    0.000    0.000 construction.py:861(is_empty_data)
        1    0.000    0.000    0.000    0.000 construction.py:881(create_series_with_explicit_dtype)
        1    0.000    0.000    0.000    0.000 copy.py:107(_copy_immutable)
        1    0.000    0.000    0.000    0.000 copy.py:66(copy)
        4    0.000    0.000    0.000    0.000 enum.py:1243(value)
        4    0.000    0.000    0.000    0.000 enum.py:192(__get__)
        5    0.000    0.000    0.000    0.000 flags.py:49(__init__)
        2    0.000    0.000    0.000    0.000 flags.py:53(allows_duplicate_labels)
        2    0.000    0.000    0.000    0.000 flags.py:85(allows_duplicate_labels)
        1    0.000    0.000    0.056    0.056 frame.py:609(__init__)
        1    0.000    0.000    0.000    0.000 function.py:56(__call__)
        1    0.000    0.000    0.000    0.000 generic.py:11108(_logical_func)
        1    0.000    0.000    0.000    0.000 generic.py:11166(any)
        1    0.000    0.000    0.000    0.000 generic.py:11598(any)
        5    0.000    0.000    0.000    0.000 generic.py:259(__init__)
        2    0.000    0.000    0.000    0.000 generic.py:332(attrs)
        4    0.000    0.000    0.000    0.000 generic.py:353(flags)
       94    0.000    0.000    0.000    0.000 generic.py:40(_check)
        2    0.000    0.000    0.000    0.000 generic.py:445(_validate_dtype)
       94    0.000    0.000    0.000    0.000 generic.py:45(_instancecheck)
        1    0.000    0.000    0.000    0.000 generic.py:5044(reindex)
        1    0.000    0.000    0.000    0.000 generic.py:518(_construct_axes_from_arguments)
        2    0.000    0.000    0.000    0.000 generic.py:5277(<genexpr>)
        1    0.000    0.000    0.000    0.000 generic.py:547(<dictcomp>)
        2    0.000    0.000    0.000    0.000 generic.py:550(_get_axis_number)
        1    0.000    0.000    0.000    0.000 generic.py:564(_get_axis)
        2    0.000    0.000    0.000    0.000 generic.py:5844(__finalize__)
        4    0.000    0.000    0.000    0.000 generic.py:5888(__getattr__)
        5    0.000    0.000    0.000    0.000 generic.py:5904(__setattr__)
        1    0.000    0.000    0.000    0.000 generic.py:5959(_protect_consolidate)
        1    0.000    0.000    0.000    0.000 generic.py:5973(_consolidate_inplace)
        1    0.000    0.000    0.000    0.000 generic.py:5977(f)
        1    0.000    0.000    0.000    0.000 generic.py:6258(copy)
        1    0.000    0.000    0.000    0.000 generic.py:7765(isna)
        2    0.000    0.000    0.000    0.000 inference.py:102(is_file_like)
        3    0.000    0.000    0.000    0.000 inference.py:266(is_dict_like)
        9    0.000    0.000    0.000    0.000 inference.py:292(<genexpr>)
       17    0.000    0.000    0.000    0.000 inference.py:325(is_hashable)
        1    0.000    0.000    0.000    0.000 managers.py:1846(is_consolidated)
        1    0.000    0.000    0.000    0.000 managers.py:1854(_consolidate_check)
        1    0.000    0.000    0.000    0.000 managers.py:1860(<listcomp>)
        1    0.000    0.000    0.000    0.000 managers.py:1864(_consolidate_inplace)
        1    0.000    0.000    0.000    0.000 managers.py:1882(ndim)
        3    0.000    0.000    0.000    0.000 managers.py:1891(__init__)
        1    0.000    0.000    0.000    0.000 managers.py:1917(from_blocks)
        2    0.000    0.000    0.000    0.000 managers.py:1934(from_array)
        2    0.000    0.000    0.000    0.000 managers.py:2009(_block)
        5    0.000    0.000    0.000    0.000 managers.py:2069(internal_values)
        1    0.000    0.000    0.054    0.054 managers.py:2182(create_block_manager_from_column_arrays)
        9    0.000    0.000    0.000    0.000 managers.py:2237(_grouping_func)
        1    0.000    0.000    0.054    0.054 managers.py:2253(_form_blocks)
        3    0.000    0.000    0.000    0.000 managers.py:228(set_axis)
        2    0.045    0.022    0.054    0.027 managers.py:2305(_stack_arrays)
        1    0.000    0.000    0.000    0.000 managers.py:238(items)
        3    0.000    0.000    0.000    0.000 managers.py:2433(_using_copy_on_write)
        1    0.000    0.000    0.000    0.000 managers.py:301(apply)
        1    0.000    0.000    0.000    0.000 managers.py:330(<dictcomp>)
        1    0.000    0.000    0.000    0.000 managers.py:616(copy)
        1    0.000    0.000    0.000    0.000 managers.py:655(<listcomp>)
        1    0.000    0.000    0.000    0.000 managers.py:673(consolidate)
        1    0.000    0.000    0.000    0.000 managers.py:997(__init__)
        1    0.000    0.000    0.000    0.000 missing.py:107(clean_fill_method)
        1    0.000    0.000    0.000    0.000 missing.py:108(isna)
        1    0.000    0.000    0.000    0.000 missing.py:191(_isna)
        1    0.000    0.000    0.000    0.000 missing.py:268(_isna_array)
        1    0.000    0.000    0.000    0.000 missing.py:309(_isna_string_dtype)
        1    0.000    0.000    0.000    0.000 missing.py:460(array_equivalent)
        1    0.000    0.000    0.000    0.000 missing.py:564(_array_equivalent_object)
        1    0.000    0.000    0.000    0.000 missing.py:910(clean_reindex_fill_method)
        6    0.000    0.000    0.000    0.000 multiarray.py:1079(copyto)
        1    0.000    0.000    0.000    0.000 nanops.py:195(_get_fill_value)
        1    0.000    0.000    0.000    0.000 nanops.py:217(_maybe_get_mask)
        1    0.000    0.000    0.000    0.000 nanops.py:261(_get_values)
        1    0.000    0.000    0.000    0.000 nanops.py:350(_na_ok_dtype)
        1    0.000    0.000    0.000    0.000 nanops.py:496(nanany)
        1    0.000    0.000    0.000    0.000 numeric.py:181(_validate_dtype)
        6    0.000    0.000    0.000    0.000 numeric.py:290(full)
        1    0.000    0.000    0.000    0.000 parse.py:108(_noop)
        1    0.000    0.000    0.000    0.000 parse.py:119(_coerce_args)
        1    0.000    0.000    0.000    0.000 parse.py:374(urlparse)
        1    0.000    0.000    0.000    0.000 range.py:118(__new__)
        1    0.000    0.000    0.000    0.000 range.py:173(_simple_new)
        9    0.000    0.000    0.000    0.000 range.py:946(__len__)
        1    0.000    0.000    0.005    0.005 readers.py:1395(__init__)
        1    0.000    0.000    0.006    0.006 readers.py:1444(close)
        1    0.000    0.000    0.000    0.000 readers.py:1449(_get_options_with_defaults)
        1    0.000    0.000    0.000    0.000 readers.py:1516(_check_file_or_buffer)
        1    0.000    0.000    0.000    0.000 readers.py:1527(_clean_options)
        1    0.000    0.000    0.004    0.004 readers.py:1703(_make_engine)
        1    0.000    0.000    1.437    1.437 readers.py:1762(read)
        1    0.000    0.000    0.000    0.000 readers.py:1812(__enter__)
        1    0.000    0.000    0.006    0.006 readers.py:1815(__exit__)
        1    0.000    0.000    0.000    0.000 readers.py:1879(_clean_na_values)
        1    0.000    0.000    0.000    0.000 readers.py:1916(_floatify_na_values)
        1    0.000    0.000    0.000    0.000 readers.py:1929(_stringify_na_values)
        1    0.000    0.000    0.000    0.000 readers.py:1954(_refine_defaults_read)
        1    0.000    0.000    0.000    0.000 readers.py:2132(_extract_dialect)
        1    0.000    0.000    0.000    0.000 readers.py:2230(_validate_skipfooter)
        2    0.000    0.000    0.000    0.000 readers.py:517(validate_integer)
        1    0.000    0.000    0.000    0.000 readers.py:547(_validate_names)
        1    0.018    0.018    1.466    1.466 readers.py:571(_read)
        1    0.000    0.000    1.466    1.466 readers.py:854(read_csv)
        1    0.000    0.000    0.000    0.000 series.py:1274(_clear_item_cache)
      4/2    0.000    0.000    0.001    0.000 series.py:342(__init__)
        1    0.000    0.000    0.000    0.000 series.py:4773(_reduce)
        1    0.000    0.000    0.000    0.000 series.py:486(_init_dict)
        1    0.000    0.000    0.000    0.000 series.py:5077(reindex)
        2    0.000    0.000    0.000    0.000 series.py:546(_constructor)

        1    0.000    0.000    0.000    0.000 {method 'encode' of 'str' objects}
        9    0.000    0.000    0.000    0.000 {method 'endswith' of 'str' objects}
       82    0.000    0.000    0.000    0.000 {method 'get' of 'dict' objects}
        7    0.000    0.000    0.000    0.000 {method 'insert' of 'list' objects}
        5    0.000    0.000    0.000    0.000 {method 'items' of 'dict' objects}
        1    0.000    0.000    0.000    0.000 {method 'join' of 'str' objects}
        2    0.000    0.000    0.000    0.000 {method 'keys' of 'dict' objects}
        9    0.000    0.000    0.000    0.000 {method 'lower' of 'str' objects}
        1    0.000    0.000    0.000    0.000 {method 'match' of 're.Pattern' objects}
       27    0.000    0.000    0.000    0.000 {method 'pop' of 'dict' objects}
        4    0.000    0.000    0.000    0.000 {method 'ravel' of 'numpy.ndarray' objects}
        1    1.370    1.370    1.381    1.381 {method 'read' of 'pandas._libs.parsers.TextReader' objects}
        1    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
        7    0.000    0.000    0.000    0.000 {method 'remove' of 'list' objects}
        1    0.000    0.000    0.000    0.000 {method 'reverse' of 'list' objects}
        3    0.000    0.000    0.000    0.000 {method 'split' of 'str' objects}
        3    0.000    0.000    0.000    0.000 {method 'startswith' of 'str' objects}
        2    0.000    0.000    0.000    0.000 {method 'update' of 'dict' objects}
        2    0.000    0.000    0.000    0.000 {method 'upper' of 'str' objects}
        2    0.000    0.000    0.000    0.000 {method 'values' of 'dict' objects}
        5    0.000    0.000    0.000    0.000 {pandas._libs.algos.ensure_object}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.array_equivalent_object}
        2    0.000    0.000    0.000    0.000 {pandas._libs.lib.infer_datetimelike_array}
        2    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_all_arraylike}
        2    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_bool}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_integer}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_iterator}
       25    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_list_like}
        6    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_scalar}
        6    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}

## Reading and cleaning

### Reading with pandas

In [90]:
def pandas_read_file():
    df = pd.read_csv('household_power_consumption.txt', index_col=None, header=0, sep=";", low_memory=False, na_values = '?')
    return df
pandas_read_file()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [100]:
timer(pandas_read_file)

Execution time: 1.4896286000002874 seconds

1.4896286000002874

In [5]:
df = pandas_read_file()
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

### Cleaning pandas

In [6]:
df.isnull().values.any()

True

In [7]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [8]:
df = df.fillna(method='bfill')

In [9]:
df.isnull().values.any()

False

In [10]:
df['Date'] = pd.to_datetime(df['Date'], format = "%d/%m/%Y")

df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

columns_to_convert = df.columns[2:9]
columns_to_convert_dict = {i: float for i in columns_to_convert} 
columns_to_convert_dict
df = df.astype(columns_to_convert_dict)

### Reading and cleaning with numpy

From dataframe (already cleaned)

In [11]:
def numpy_read_file_1():
    arr = df.values
    return arr
arr = numpy_read_file_1()
arr

array([[Timestamp('2006-12-16 00:00:00'), datetime.time(17, 24), 4.216,
        ..., 0.0, 1.0, 17.0],
       [Timestamp('2006-12-16 00:00:00'), datetime.time(17, 25), 5.36,
        ..., 0.0, 1.0, 16.0],
       [Timestamp('2006-12-16 00:00:00'), datetime.time(17, 26), 5.374,
        ..., 0.0, 2.0, 17.0],
       ...,
       [Timestamp('2010-11-26 00:00:00'), datetime.time(21, 0), 0.938,
        ..., 0.0, 0.0, 0.0],
       [Timestamp('2010-11-26 00:00:00'), datetime.time(21, 1), 0.934,
        ..., 0.0, 0.0, 0.0],
       [Timestamp('2010-11-26 00:00:00'), datetime.time(21, 2), 0.932,
        ..., 0.0, 0.0, 0.0]], dtype=object)

In [12]:
timer(numpy_read_file_1)

Execution time: 1.8974081000051228 seconds

Directly with numpy

In [13]:
def numpy_read_file_2():
    dtype = [('Date', 'U10'), ('Time', 'U8'), ('Global_active_power', 'f8'), ('Global_reactive_power', 'f8'),
             ('Voltage', 'f8'), ('Global_intensity', 'f8'), ('Sub_metering_1', 'f8'), ('Sub_metering_2', 'f8'),
             ('Sub_metering_3', 'f8')]
    arr2 = np.genfromtxt('household_power_consumption.txt', delimiter=';', skip_header=1, dtype=dtype, missing_values='?', filling_values=0)
    return arr2
arr2 = numpy_read_file_2()
numpy_read_file_2()

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [ ]:
timer(numpy_read_file_2)

In [112]:
t1 = timer(pandas_read_file)
t2 = timer(numpy_read_file_1)
t3 = timer(numpy_read_file_2)

Execution time: 1.491061 seconds
Execution time: 1.757492 seconds
Execution time: 10.399286 seconds

In [125]:
print(f'Отже, читання файлу за допомогою pandas {t1:.3f} секунди, читання за допомогою numpy з уже готового датафрейму {t1+t2:.3f} і '
      f'найповільніше читає numpy файл напряму {t3:.3f} секунд, що є в {t3/t1:.3f} і в {t3/t2:.3f} разів довше ніж перші два методи відповідно')

Отже, читання файлу за допомогою pandas 1.491 секунди, читання за допомогою numpy з уже готового датафрейму 3.249 і найповільніше читає numpy файл напряму 10.399 секунд, що є в 6.974 і в 5.917 разів довше ніж перші два методи відповідно

## Перший рівень

## 1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [15]:
def funct_1():
    df_1 = df[df['Global_active_power'] > 5]
    df_1
    return df_1
funct_1()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [16]:
def funct_1_np():    
    arr2_1 = arr2[arr2['Global_active_power'] > 5.0]
    return arr2_1
funct_1_np()

array([('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.),
       ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.),
       ...,
       ('24/11/2010', '07:50:00', 5.172, 0.05 , 235.18, 22. , 0., 38., 17.),
       ('24/11/2010', '07:51:00', 5.75 , 0.   , 234.4 , 24.6, 0., 39., 17.),
       ('25/11/2010', '07:21:00', 5.074, 0.24 , 238.55, 21.4, 1.,  2., 18.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [145]:
t1_1 = float(timer(funct_1))
t2_1 = float(timer(funct_1_np))

Execution time: 0.004981 seconds
Execution time: 0.020592 seconds

In [149]:
print(f'Отже, функція_1 за допомогою pandas виконується {t1_1}, за допомогою numpy {t2_1}.')
if t1_1 < t2_1:
    print(f"Функція виконується за допомогою pandas в {t2_1/t1_1} разів швидше ніж з numpy.")
else: print(f"Функція виконується за допомогою numpy в {t1_1/t2_1} разів швидше ніж з pandas.")

Отже, функція_1 за допомогою pandas виконується 0.004981, за допомогою numpy 0.020592.
Функція виконується за допомогою pandas в 4.134109616542863 разів швидше ніж з numpy.

## 2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [18]:
def funct_2():
    f_2 = df[df['Voltage'] > 235]
    return f_2
funct_2()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [19]:
def funct_2_np():    
    arr2_2 = arr2[arr2['Voltage'] > 235]
    return arr2_2
funct_2_np()

array([('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.),
       ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [151]:
t1_2 = float(timer(funct_2))
t2_2 = float(timer(funct_2_np))

Execution time: 0.145935 seconds
Execution time: 0.173250 seconds

In [152]:
print(f'Отже, функція_2 за допомогою pandas виконується {t1_2}, за допомогою numpy {t2_2}.')
if t1_2 < t2_2:
    print(f"Функція виконується за допомогою pandas в {t2_2/t1_2} разів швидше ніж з numpy.")
else: print(f"Функція виконується за допомогою numpy в {t1_2/t2_2} разів швидше ніж з pandas.")

Отже, функція_2 за допомогою pandas виконується 0.145935, за допомогою numpy 0.17325.
Функція виконується за допомогою pandas в 1.1871723712611777 разів швидше ніж з numpy.

## 3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [21]:
def funct_3():
    df_3 = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
    df_31 = df_3[df_3['Sub_metering_2'] > df_3['Sub_metering_3']]
    return df_31
funct_3()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

In [22]:
def funct_3_np():
    arr2_3 = arr2[(arr2['Global_intensity'] >= 19) & (arr2['Global_intensity'] <= 20)]
    arr2_31 = arr2_3[arr2_3['Sub_metering_2'] > arr2_3['Sub_metering_3']]
    return arr2_31
funct_3_np()

array([('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.),
       ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.),
       ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.),
       ...,
       ('24/11/2010', '07:55:00', 4.602, 0.   , 237.08, 19.4, 0., 40., 17.),
       ('24/11/2010', '07:56:00', 4.536, 0.   , 237.03, 19. , 0., 39., 17.),
       ('24/11/2010', '07:57:00', 4.626, 0.   , 236.78, 19.4, 0., 39., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [23]:
timer(funct_3)
timer(funct_3_np)

Execution time: 0.01681829999870388 seconds
Execution time: 0.06488160000299104 seconds

## 4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії, а також

In [24]:
def funct_4():
    df_4 = df.sample(500000)
    df_4['Avarage consumption of electrical energy'] = (df_4['Sub_metering_1']+df_4['Sub_metering_2']+df_4['Sub_metering_3'])/3
    return df_4
funct_4()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Avarage consumption of electrical energy
303639,2007-07-15,14:03:00,0.232,0.108,240.08,1.0,0.0,2.0,0.0,0.666667
747835,2008-05-19,01:19:00,0.178,0.000,242.18,0.8,0.0,0.0,1.0,0.333333
1874720,2010-07-10,14:44:00,1.524,0.000,237.89,6.4,1.0,0.0,18.0,6.333333
1639505,2010-01-28,06:29:00,0.554,0.164,243.29,2.4,0.0,0.0,1.0,0.333333
488909,2007-11-21,05:53:00,0.410,0.222,243.01,1.8,0.0,2.0,0.0,0.666667
...,...,...,...,...,...,...,...,...,...,...
6339,2006-12-21,03:03:00,0.354,0.156,244.47,1.6,0.0,0.0,0.0,0.000000
1524040,2009-11-09,02:04:00,0.426,0.306,247.77,2.0,0.0,1.0,1.0,0.666667
1161942,2009-03-02,15:06:00,0.680,0.000,243.39,3.2,0.0,0.0,0.0,0.000000
1854368,2010-06-26,11:32:00,0.516,0.386,241.27,2.6,1.0,2.0,1.0,1.333333
722380,2008-05-01,09:04:00,0.416,0.238,242.06,2.0,0.0,1.0,1.0,0.666667

In [25]:
random_indices_1 = np.random.choice(len(arr2), 500000, replace=False)
def funct_4_np():
    random_indices = np.random.choice(len(arr2), 500000, replace=False)
    arr2_4 = arr2[random_indices]
    return arr2_4
funct_4_np()

array([('3/4/2008', '06:19:00', 0.384, 0.202, 237.71,  1.8,  0., 1.,  0.),
       ('5/6/2010', '23:58:00', 3.26 , 0.316, 239.15, 14.6, 26., 1., 18.),
       ('8/3/2009', '18:41:00', 2.612, 0.284, 236.18, 11. ,  0., 3., 17.),
       ...,
       ('25/5/2008', '20:38:00', 3.208, 0.278, 236.6 , 13.6,  1., 0., 29.),
       ('21/2/2010', '20:41:00', 2.242, 0.046, 241.28,  9.2,  0., 0., 18.),
       ('7/2/2007', '23:11:00', 0.476, 0.248, 243.58,  2.2,  2., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [26]:
random_indices_1

array([ 461969, 1849644, 1166965, ...,  500798, 1767421,  632599])

In [27]:
timer(funct_4)
timer(funct_4_np)

Execution time: 0.21208699999988312 seconds
Execution time: 0.16534479999972973 seconds

## 5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [28]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [78]:
def funct_5():
    df_5 = df[df['Time'] > pd.to_datetime("18:00:00", format='%H:%M:%S').time()]
    df_51 = df_5[(df_5['Global_active_power']>6) & (df_5["Sub_metering_2"] > df_5["Sub_metering_1"])
                 & (df_5["Sub_metering_2"] > df_5["Sub_metering_3"])]
    col = df.columns.to_list()
    df_53 = pd.DataFrame(columns = col)
    df_54 = pd.DataFrame(columns = col)
    midpoint = len(df_51) // 2
    df_53 = df_51.iloc[0:midpoint:3]
    df_54 = df_51.iloc[midpoint::4]
    concatenated_df = pd.concat([df_53, df_54])
    return concatenated_df
funct_5()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066467,2010-11-20,18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20,18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20,18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066485,2010-11-20,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0

In [76]:
def funct_5_np():
    arr2_5 = arr2[(arr2['Time']>'18:00:00')]
    arr2_51 = arr2_5[(arr2_5['Global_active_power']>6) & (arr2_5["Sub_metering_2"] > arr2_5["Sub_metering_1"])
                     & (arr2_5["Sub_metering_2"] > arr2_5["Sub_metering_3"])]
    midpoint = arr2_51.shape[0]//2
    arr2_53 = arr2_51[:midpoint:3]
    arr2_54 = arr2_51[midpoint::4]
    arr2_55 = np.concatenate((arr2_53, arr2_54), axis=0)
    return arr2_55
funct_5_np()

array([('16/12/2006', '18:05:00',  6.052, 0.192, 232.93, 26.2,  0., 37., 17.),
       ('16/12/2006', '18:08:00',  6.308, 0.116, 232.25, 27. ,  0., 36., 17.),
       ('28/12/2006', '20:58:00',  6.386, 0.374, 236.63, 27. ,  1., 36., 17.),
       ('28/12/2006', '21:02:00',  8.088, 0.262, 235.5 , 34.4,  1., 72., 17.),
       ('28/12/2006', '21:05:00',  7.23 , 0.152, 235.22, 30.6,  1., 73., 17.),
       ('28/12/2006', '21:08:00',  7.352, 0.   , 235.45, 31.2,  1., 73., 17.),
       ('28/12/2006', '21:11:00',  9.048, 0.   , 231.48, 39. , 34., 71., 16.),
       ('28/12/2006', '21:14:00',  9.118, 0.108, 231.18, 39.4, 36., 72., 16.),
       ('28/12/2006', '21:17:00',  7.04 , 0.13 , 233.27, 30.2, 37., 38., 17.),
       ('29/12/2006', '21:16:00',  6.146, 0.116, 230.53, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:19:00',  6.184, 0.138, 231.57, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:22:00',  6.214, 0.12 , 230.53, 26.8,  0., 70.,  0.),
       ('29/12/2006', '21:25:00',  6.086, 0.   , 229.04, 26.6,  0., 69.,  0.),
       ('29/12/2006', '21:29:00',  6.66 , 0.   , 229.  , 29. ,  0., 69., 17.),
       ('29/12/2006', '22:28:00',  6.3  , 0.294, 236.08, 26.8,  0., 65., 17.),
       ('29/12/2006', '22:31:00',  6.426, 0.282, 234.8 , 27.4,  0., 73., 17.),
       ('29/12/2006', '22:34:00',  6.238, 0.268, 235.12, 26.4,  0., 73., 17.),
       ('7/1/2007', '18:03:00',  6.458, 0.   , 230.85, 27.8,  0., 69., 16.),
       ('7/1/2007', '18:06:00',  6.676, 0.   , 230.88, 28.8,  0., 69., 16.),
       ('7/1/2007', '18:09:00',  6.326, 0.15 , 231.77, 27.6,  0., 62., 17.),
       ('7/1/2007', '18:17:00',  7.774, 0.534, 230.49, 33.8,  0., 37., 16.),
       ('7/1/2007', '21:21:00',  6.014, 0.332, 235.53, 25.8, 28., 36., 17.),
       ('9/1/2007', '20:51:00',  7.996, 0.1  , 231.55, 34.4,  0., 70., 16.),
       ('9/1/2007', '20:54:00',  7.732, 0.098, 231.55, 33.4,  0., 70., 17.),
       ('9/1/2007', '20:57:00',  8.67 , 0.114, 232.89, 37.2,  0., 71., 16.),
       ('9/1/2007', '21:00:00',  7.54 , 0.152, 233.88, 32.2,  0., 72., 16.),
       ('9/1/2007', '21:03:00',  6.726, 0.154, 234.28, 29. ,  0., 64., 17.),
       ('20/1/2007', '19:17:00',  6.21 , 0.432, 228.85, 27.2,  0., 35., 16.),
       ('20/1/2007', '19:20:00',  7.202, 0.44 , 228.37, 32. ,  0., 35., 16.),
       ('20/1/2007', '19:23:00',  7.602, 0.374, 228.07, 33.4,  0., 21., 16.),
       ('20/1/2007', '19:26:00',  6.198, 0.384, 232.22, 26.6,  0., 36., 16.),
       ('20/1/2007', '19:35:00',  7.332, 0.116, 230.56, 32.2,  0., 26., 17.),
       ('21/1/2007', '19:24:00',  7.48 , 0.18 , 225.52, 33.2,  0., 67., 15.),
       ('21/1/2007', '19:27:00',  7.552, 0.25 , 225.17, 33.4,  0., 66., 16.),
       ('21/1/2007', '19:30:00',  7.532, 0.416, 226.97, 33.4,  0., 68., 16.),
       ('21/1/2007', '19:33:00',  7.374, 0.326, 226.03, 33. ,  1., 59., 16.),
       ('22/1/2007', '20:23:00',  7.502, 0.19 , 231.81, 32.4,  0., 65., 16.),
       ('22/1/2007', '20:26:00',  7.722, 0.22 , 233.22, 33. ,  0., 71., 17.),
       ('22/1/2007', '21:06:00',  6.184, 0.246, 234.93, 26.4,  0., 69.,  0.),
       ('27/1/2007', '23:56:00',  6.142, 0.   , 239.53, 25.6,  0., 37., 18.),
       ('3/2/2007', '18:52:00',  7.198, 0.494, 228.45, 31.8, 26., 34., 16.),
       ('3/2/2007', '19:09:00',  6.264, 0.482, 229.95, 27.6, 14., 34., 16.),
       ('15/2/2007', '19:35:00',  6.926, 0.6  , 233.35, 29.8,  0., 36., 17.),
       ('15/2/2007', '19:39:00',  6.634, 0.472, 234.05, 28.4,  0., 36., 17.),
       ('15/2/2007', '19:51:00',  6.408, 0.46 , 234.07, 27.6,  0., 36., 17.),
       ('19/2/2007', '19:52:00',  6.04 , 0.28 , 230.41, 26.4,  0., 34., 16.),
       ('20/2/2007', '20:28:00',  8.374, 0.082, 234.12, 35.8,  0., 72., 17.),
       ('20/2/2007', '20:31:00',  7.204, 0.09 , 231.78, 31. ,  0., 71., 16.),
       ('20/2/2007', '20:34:00',  6.91 , 0.146, 230.68, 30. ,  0., 71., 16.),
       ('20/2/2007', '20:37:00',  7.13 , 0.11 , 231.74, 30.8,  0., 72., 16.),
       ('21/2/2007', '19:45:00',  6.14 , 0.304, 232.72, 26.6,  0., 26.,  0.),
       ('22/2/2007', '19:32:00',  6.068, 0.2  , 231.3 , 26.2,  0., 35., 16.),
       ('22/2/2007', '19:35:00',  6.02 , 0.078, 233.27, 25.8,  0., 36., 17.),
       ('22/2/2007', '21:05:00',  9.16 , 0.   , 226.94, 40.2, 35., 68., 16.),
       ('22/2/2007', '21:08:00',  9.374, 0.   , 226.47, 41.4, 35., 68., 15.),
       ('22/2/2007', '21:11:00',  9.248, 0.   , 224.48, 41.2, 34., 66., 15.),
       ('22/2/2007', '21:14:00',  9.338, 0.   , 223.49, 41.8, 33., 66., 15.),
       ('22/2/2007', '21:35:00',  6.67 , 0.2  , 230.71, 28.8,  1., 39., 16.),
       ('22/2/2007', '21:38:00',  6.55 , 0.172, 229.38, 28.4,  2., 34., 16.),
       ('22/2/2007', '21:45:00',  6.288, 0.114, 230.22, 27.2,  1., 30., 16.),
       ('4/3/2007', '19:31:00',  8.862, 0.45 , 231.32, 38.6, 36., 40., 16.),
       ('4/3/2007', '19:34:00', 10.67 , 0.516, 230.2 , 46.4, 37., 69., 16.),
       ('4/3/2007', '19:37:00',  6.99 , 0.38 , 232.51, 30.2,  4., 71., 16.),
       ('4/3/2007', '19:40:00',  6.504, 0.256, 234.  , 27.8,  0., 71., 17.),
       ('4/3/2007', '19:43:00',  6.346, 0.138, 232.78, 27.2,  1., 71., 17.),
       ('4/3/2007', '20:19:00',  6.092, 0.248, 232.57, 26.2,  0., 35., 17.),
       ('4/3/2007', '21:30:00',  6.89 , 0.   , 233.03, 29.4,  0., 70., 17.),
       ('4/3/2007', '21:33:00',  6.75 , 0.   , 233.09, 28.8,  0., 71., 17.),
       ('4/3/2007', '21:38:00',  6.12 , 0.   , 234.38, 26.6,  0., 57., 17.),
       ('5/3/2007', '20:56:00',  6.544, 0.47 , 233.11, 28.2,  0., 30.,  0.),
       ('8/3/2007', '20:29:00',  6.354, 0.102, 235.  , 27. ,  0., 36., 18.),
       ('20/3/2007', '21:32:00',  6.262, 0.162, 234.59, 26.6,  1., 36., 17.),
       ('20/3/2007', '21:35:00',  6.11 , 0.242, 234.55, 26. ,  1., 35., 16.),
       ('20/3/2007', '21:38:00',  6.052, 0.26 , 233.59, 25.8,  1., 35., 17.),
       ('20/3/2007', '21:44:00',  6.134, 0.374, 230.76, 26.6,  1., 36., 17.),
       ('20/3/2007', '21:47:00',  6.026, 0.246, 232.11, 26. ,  1., 36., 17.),
       ('24/3/2007', '18:52:00',  7.186, 0.178, 232.02, 31.4,  0., 23., 16.),
       ('24/3/2007', '18:59:00',  6.978, 0.286, 231.41, 30.6,  0., 34., 17.),
       ('31/3/2007', '20:01:00',  6.142, 0.528, 236.21, 26. ,  0., 36., 17.),
       ('31/3/2007', '20:05:00',  6.21 , 0.526, 235.8 , 26.4,  0., 37., 17.),
       ('1/4/2007', '18:44:00',  6.428, 0.266, 232.81, 27.6,  1., 72., 16.),
       ('1/4/2007', '18:47:00',  6.332, 0.276, 232.45, 27.2,  0., 72., 17.),
       ('1/4/2007', '18:50:00',  6.274, 0.26 , 233.03, 26.8,  1., 71., 16.),
       ('1/4/2007', '21:56:00',  7.32 , 0.298, 234.4 , 31.4,  1., 63., 17.),
       ('1/4/2007', '21:59:00',  8.134, 0.278, 232.16, 35. ,  2., 70., 16.),
       ('1/4/2007', '22:02:00',  6.19 , 0.302, 233.54, 26.4,  1., 36., 16.),
       ('1/4/2007', '22:10:00',  6.008, 0.426, 234.16, 25.6,  1., 36., 17.),
       ('2/4/2007', '22:01:00',  6.014, 0.   , 232.69, 25.8,  1., 36., 17.),
       ('3/4/2007', '19:26:00',  7.874, 0.356, 229.09, 34.4, 36., 37., 16.),
       ('3/4/2007', '19:30:00',  7.198, 0.3  , 230.54, 31.4, 23., 36., 17.),
       ('5/4/2007', '19:18:00',  6.588, 0.212, 235.2 , 28. ,  0., 37., 17.),
       ('5/4/2007', '20:55:00',  6.014, 0.218, 233.29, 25.8,  2., 36., 17.),
       ('18/4/2007', '21:22:00',  6.054, 0.52 , 234.3 , 25.8,  0.,  2.,  0.),
       ('3/6/2007', '21:56:00',  6.164, 0.206, 229.11, 26.8,  0., 69.,  0.),
       ('3/6/2007', '21:59:00',  6.17 , 0.192, 229.19, 26.8,  0., 70.,  0.),
       ('3/6/2007', '22:02:00',  6.366, 0.242, 228.79, 27.8,  0., 69.,  0.),
       ('17/6/2007', '18:10:00',  6.436, 0.496, 235.47, 27.4,  0., 35., 17.),
       ('25/6/2007', '21:25:00',  6.254, 0.108, 234.64, 26.6,  0., 72., 17.),
       ('25/6/2007', '21:28:00',  6.104, 0.074, 233.61, 26. ,  0., 72., 17.),
       ('26/6/2007', '22:26:00',  7.29 , 0.132, 233.21, 31.2, 36., 38., 17.),
       ('28/6/2007', '19:25:00',  6.2  , 0.498, 232.01, 27. ,  0., 59., 17.),
       ('2/7/2007', '20:35:00',  6.39 , 0.436, 235.11, 27.2,  0., 70.,  0.),
       ('3/7/2007', '22:17:00',  6.182, 0.198, 232.5 , 27. ,  0., 62., 17.),
       ('6/7/2007', '21:14:00',  6.422, 0.472, 236.96, 27. ,  1., 74., 17.),
       ('6/7/2007', '21:18:00',  7.24 , 0.448, 235.04, 31. ,  1., 68., 17.),
       ('6/7/2007', '21:32:00',  6.956, 0.182, 236.82, 29.4, 37., 51., 18.),
       ('12/8/2007', '23:32:00',  7.288, 0.23 , 226.82, 32.2, 28., 33., 16.),
       ('24/8/2007', '20:49:00',  8.366, 0.724, 232.79, 36. , 36., 38., 17.),
       ('12/9/2007', '22:02:00',  6.09 , 0.25 , 234.38, 26. ,  0., 68., 17.),
       ('13/9/2007', '21:40:00',  6.092, 0.068, 232.09, 26.2,  1., 31.,  0.),
       ('26/9/2007', '21:23:00',  7.03 , 0.332, 231.8 , 30.4,  0., 35., 16.),
       ('26/9/2007', '21:26:00',  6.014, 0.378, 233.55, 25.8,  0., 36., 16.),
       ('13/10/2007', '19:53:00',  6.148, 0.352, 230.53, 26.6,  0., 34., 16.),
       ('13/10/2007', '19:56:00',  6.226, 0.366, 231.94, 26.8,  0., 35., 16.),
       ('13/10/2007', '19:59:00',  6.402, 0.244, 231.54, 27.6,  0., 34., 17.),
       ('13/10/2007', '20:02:00',  7.78 , 0.256, 230.81, 34.2,  0., 34., 16.),
       ('13/10/2007', '20:05:00',  6.654, 0.246, 231.52, 29. ,  0., 35., 17.),
       ('13/10/2007', '20:10:00',  8.204, 0.13 , 230.41, 35.8,  0., 34., 16.),
       ('13/10/2007', '20:15:00',  6.212, 0.108, 232.83, 26.6,  0., 35., 17.),
       ('13/10/2007', '20:33:00',  6.158, 0.472, 233.06, 26.6,  0., 36., 16.),
       ('12/11/2007', '20:28:00',  6.166, 0.464, 233.69, 26.6,  0., 29., 17.),
       ('12/11/2007', '20:31:00',  8.026, 0.384, 231.96, 34.6,  0., 72., 17.),
       ('12/11/2007', '20:34:00',  7.726, 0.362, 231.68, 33.2,  0., 72., 16.),
       ('12/11/2007', '20:37:00',  7.716, 0.376, 232.26, 33.2,  0., 72., 17.),
       ('12/11/2007', '20:40:00',  6.914, 0.25 , 234.06, 29.8,  0., 62., 17.),
       ('4/12/2007', '21:20:00',  6.274, 0.308, 236.56, 26.6,  0., 36., 18.),
       ('4/12/2007', '21:26:00',  6.25 , 0.38 , 236.12, 26.6,  0., 35., 17.),
       ('4/12/2007', '21:46:00',  6.028, 0.   , 237.73, 25.4,  0., 36., 17.),
       ('8/12/2007', '20:00:00',  6.002, 0.286, 233.41, 25.6,  0., 35., 17.),
       ('8/12/2007', '20:26:00',  6.056, 0.286, 233.21, 26. ,  0., 35., 17.),
       ('8/12/2007', '20:33:00',  6.192, 0.478, 233.27, 26.6,  0., 36., 17.),
       ('8/12/2007', '20:40:00',  6.222, 0.324, 233.62, 26.6,  0., 36., 17.),
       ('9/12/2007', '19:06:00',  6.232, 0.176, 230.79, 27. ,  0., 34., 17.),
       ('9/12/2007', '19:09:00',  6.182, 0.192, 230.28, 26.8,  0., 34., 16.),
       ('9/12/2007', '19:12:00',  6.166, 0.172, 229.85, 26.8,  0., 34., 17.),
       ('9/12/2007', '19:15:00',  6.284, 0.31 , 230.04, 27.2,  0., 34., 16.),
       ('9/12/2007', '19:18:00',  6.282, 0.292, 230.2 , 27.2,  0., 34., 16.),
       ('9/12/2007', '19:21:00',  6.25 , 0.304, 229.29, 27.2,  0., 34., 16.),
       ('9/12/2007', '19:26:00',  6.17 , 0.286, 230.36, 26.8,  0., 34., 16.),
       ('22/12/2007', '20:45:00',  6.508, 0.214, 234.31, 28.4, 30., 35.,  0.),
       ('22/12/2007', '20:52:00',  7.056, 0.434, 233.27, 30.6,  9., 35.,  0.),
       ('22/12/2007', '20:56:00',  6.444, 0.472, 235.37, 27.4,  0., 35.,  0.),
       ('22/12/2007', '21:03:00',  7.486, 0.386, 234.43, 32. ,  1., 37., 17.),
       ('22/12/2007', '21:06:00',  7.306, 0.412, 235.42, 31.2,  0., 37., 17.),
       ('23/12/2007', '19:07:00',  6.952, 0.262, 231.01, 30. ,  0., 70.,  0.),
       ('23/12/2007', '19:10:00',  6.764, 0.244, 231.21, 29.2,  0., 70.,  0.),
       ('23/12/2007', '19:21:00',  7.378, 0.528, 231.96, 32.2, 22., 36., 16.),
       ('23/12/2007', '19:36:00',  6.094, 0.64 , 233.53, 26.2,  1., 37., 16.),
       ('23/12/2007', '19:41:00',  6.312, 0.442, 235.12, 27.2, 16., 39., 17.),
       ('23/12/2007', '19:47:00',  6.188, 0.482, 234.63, 26.4,  1., 38., 17.),
       ('23/12/2007', '19:56:00',  6.124, 0.382, 234.27, 26.2,  0., 38., 17.),
       ('28/12/2007', '18:01:00',  7.228, 0.284, 235.22, 30.6,  0., 73., 17.),
       ('28/12/2007', '18:04:00',  7.06 , 0.214, 235.42, 30. ,  0., 73., 17.),
       ('28/12/2007', '18:07:00',  6.076, 0.336, 236.5 , 25.8,  0., 58., 18.),
       ('28/12/2007', '18:11:00',  6.758, 0.328, 236.9 , 28.6,  0., 69., 17.),
       ('28/12/2007', '18:16:00',  6.914, 0.21 , 237.39, 29. ,  0., 73., 17.),
       ('2/2/2008', '19:29:00',  6.22 , 0.568, 232.31, 26.8,  1., 36., 16.),
       ('2/2/2008', '19:37:00',  6.162, 0.608, 232.39, 26.6,  1., 36., 17.),
       ('2/2/2008', '19:42:00',  7.076, 0.546, 228.62, 31.2, 21., 35., 17.),
       ('2/2/2008', '19:45:00',  7.22 , 0.564, 229.54, 31.8, 19., 35., 16.),
       ('2/2/2008', '19:50:00',  6.522, 0.48 , 232.6 , 28. ,  1., 36., 17.),
       ('20/2/2008', '19:58:00',  6.218, 0.264, 237.28, 27. , 16., 36.,  0.),
       ('20/2/2008', '20:11:00',  6.53 , 0.232, 235.  , 28.4, 27., 36.,  0.),
       ('5/3/2008', '18:32:00',  6.424, 0.168, 234.17, 27.4,  0., 72.,  0.),
       ('5/3/2008', '18:35:00',  6.512, 0.272, 233.92, 27.8,  0., 72.,  0.),
       ('5/3/2008', '21:33:00',  6.468, 0.   , 233.87, 27.6,  2., 35., 16.),
       ('5/3/2008', '21:36:00',  6.09 , 0.092, 234.53, 26.2,  1., 27., 17.),
       ('5/3/2008', '21:39:00',  7.302, 0.062, 233.13, 31.6, 21., 35., 16.),
       ('5/3/2008', '22:13:00',  6.204, 0.232, 234.29, 26.4,  1., 37., 17.),
       ('14/3/2008', '18:10:00',  6.096, 0.114, 234.56, 26. ,  0., 33., 17.),
       ('23/3/2008', '20:24:00',  6.124, 0.19 , 233.99, 26.4,  0., 55., 17.),
       ('23/3/2008', '20:27:00',  7.222, 0.208, 233.36, 30.8,  0., 73., 16.),
       ('23/3/2008', '20:30:00',  6.952, 0.178, 234.24, 29.6,  0., 72., 17.),
       ('23/3/2008', '20:33:00',  6.49 , 0.196, 234.04, 27.6,  0., 72., 17.),
       ('23/3/2008', '20:36:00',  6.708, 0.18 , 234.1 , 28.6,  0., 73., 16.),
       ('20/4/2008', '21:00:00',  8.268, 0.312, 232.3 , 35.6,  1., 72., 17.),
       ('20/4/2008', '21:03:00',  7.798, 0.328, 231.76, 33.6,  1., 71., 17.),
       ('20/4/2008', '21:04:00',  7.756, 0.348, 232.11, 33.4,  1., 72., 17.),
       ('20/4/2008', '21:08:00',  6.366, 0.368, 232.97, 27.4,  2., 37., 18.),
       ('20/4/2008', '21:12:00',  6.378, 0.3  , 232.96, 27.4,  1., 36., 17.),
       ('20/4/2008', '21:29:00',  7.486, 0.288, 232.  , 32.2, 34., 37., 17.),
       ('18/5/2008', '20:31:00',  7.782, 0.28 , 234.42, 33.4,  1., 72., 27.),
       ('18/5/2008', '20:36:00',  7.032, 0.   , 233.97, 30. , 34., 36., 17.),
       ('25/5/2008', '19:43:00',  6.152, 0.384, 232.91, 26.4, 36., 37.,  1.),
       ('8/6/2008', '21:43:00',  7.028, 0.16 , 234.83, 29.8,  0., 73., 18.),
       ('8/6/2008', '21:47:00',  6.956, 0.15 , 235.32, 29.4,  0., 73., 17.),
       ('27/6/2008', '18:32:00',  6.314, 0.228, 233.51, 27. , 36., 37., 17.),
       ('3/7/2008', '21:39:00',  6.16 , 0.   , 234.34, 26.2,  1., 72., 17.),
       ('3/7/2008', '21:44:00',  7.066, 0.   , 234.33, 30.4, 36., 52., 18.),
       ('16/7/2008', '21:02:00',  6.324, 0.328, 235.59, 26.8,  0., 73., 18.),
       ('16/7/2008', '21:06:00',  6.98 , 0.328, 235.16, 29.8,  0., 73., 18.),
       ('22/9/2008', '20:17:00',  6.612, 0.196, 231.05, 28.6,  1., 69., 17.),
       ('22/9/2008', '20:21:00',  6.706, 0.108, 233.99, 28.6,  1., 70., 17.),
       ('12/10/2008', '18:37:00',  6.358, 0.24 , 229.93, 27.6, 35., 36., 10.),
       ('12/10/2008', '19:32:00',  6.394, 0.486, 233.29, 27.6,  0., 36., 17.),
       ('12/10/2008', '19:36:00',  6.974, 0.344, 232.83, 30. ,  1., 72., 17.),
       ('12/10/2008', '19:41:00',  6.004, 0.364, 232.97, 25.8,  0., 72.,  1.),
       ('12/10/2008', '20:18:00',  7.342, 0.176, 228.61, 32. ,  0., 68., 16.),
       ('12/10/2008', '20:22:00',  7.852, 0.   , 231.35, 34. ,  0., 70., 17.),
       ('17/10/2008', '20:02:00',  6.11 , 0.49 , 234.89, 26.2,  0., 37., 17.),
       ('4/11/2008', '18:55:00',  7.002, 0.184, 227.83, 30.6,  0., 69.,  0.),
       ('4/11/2008', '18:59:00',  6.876, 0.18 , 228.75, 30. ,  0., 70.,  0.),
       ('4/11/2008', '20:43:00',  7.602, 0.368, 231.11, 32.8,  0., 71., 16.),
       ('4/11/2008', '20:47:00',  7.482, 0.408, 233.3 , 32. ,  0., 73., 16.),
       ('4/11/2008', '20:51:00',  7.148, 0.234, 232.39, 30.6,  0., 72., 16.),
       ('4/11/2008', '21:33:00',  6.88 , 0.242, 235.34, 29.2,  0., 72., 17.),
       ('4/11/2008', '21:37:00',  6.882, 0.24 , 235.78, 29.2,  0., 72., 17.),
       ('4/11/2008', '21:41:00',  6.316, 0.194, 236.09, 26.6,  0., 72., 17.),
       ('22/11/2008', '21:49:00',  7.266, 0.058, 229.68, 31.6, 35., 36., 16.),
       ('23/11/2008', '18:04:00',  7.464, 0.342, 228.32, 32.6,  0., 33., 16.),
       ('23/11/2008', '18:08:00',  7.552, 0.35 , 230.19, 32.8,  0., 34., 17.),
       ('23/11/2008', '18:12:00',  7.724, 0.47 , 230.54, 33.4,  0., 35., 16.),
       ('23/11/2008', '18:16:00',  7.632, 0.454, 230.22, 33.2,  0., 35., 16.),
       ('23/11/2008', '18:21:00',  6.432, 0.168, 231.56, 27.8,  0., 33., 16.),
       ('23/11/2008', '18:27:00',  6.436, 0.156, 230.93, 27.8,  0., 33., 16.),
       ('23/11/2008', '18:34:00',  6.168, 0.308, 231.57, 26.6,  0., 22., 17.),
       ('23/11/2008', '18:38:00',  6.428, 0.336, 232.45, 27.8,  0., 21., 17.),
       ('23/11/2008', '18:42:00',  6.486, 0.268, 233.85, 27.8,  0., 20., 17.),
       ('23/11/2008', '18:51:00',  6.966, 0.422, 231.47, 30. ,  0., 40., 16.),
       ('23/11/2008', '18:55:00',  6.57 , 0.382, 232.17, 28.2,  0., 40., 17.),
       ('23/11/2008', '20:20:00',  6.87 , 0.356, 232.34, 29.6,  1., 34., 16.),
       ('23/11/2008', '20:24:00',  7.   , 0.184, 232.69, 30.2,  1., 30., 17.),
       ('23/11/2008', '20:28:00',  7.168, 0.184, 232.2 , 30.8,  2., 36., 16.),
       ('23/11/2008', '20:32:00',  7.128, 0.172, 231.42, 30.8,  1., 36., 17.),
       ('23/11/2008', '20:36:00',  6.528, 0.152, 234.35, 27.8,  0., 36., 16.),
       ('23/11/2008', '20:52:00',  6.13 , 0.402, 235.94, 26. ,  1., 34., 17.),
       ('23/11/2008', '21:02:00',  6.278, 0.248, 235.08, 26.8,  1., 22., 17.),
       ('30/11/2008', '20:13:00',  8.058, 0.082, 233.14, 34.4,  1., 72., 17.),
       ('30/11/2008', '20:17:00', 10.074, 0.06 , 231.41, 43.4, 36., 70., 16.),
       ('30/11/2008', '20:26:00',  7.746, 0.192, 234.16, 33. , 36., 37., 17.),
       ('9/12/2008', '19:50:00',  6.116, 0.308, 235.43, 26. , 34., 36.,  0.),
       ('1/1/2009', '20:48:00',  6.122, 0.162, 238.41, 25.6,  0., 74.,  0.),
       ('2/1/2009', '18:35:00',  7.186, 0.11 , 234.72, 30.8, 29., 36., 17.),
       ('10/1/2009', '19:52:00',  6.794, 0.2  , 234.2 , 29. ,  2., 72., 16.),
       ('10/1/2009', '19:56:00',  8.716, 0.06 , 231.62, 37.6, 36., 71., 16.),
       ('10/1/2009', '20:00:00',  8.758, 0.062, 232.2 , 37.6, 36., 71., 16.),
       ('10/1/2009', '20:04:00',  7.982, 0.   , 233.34, 34.2, 36., 73., 17.),
       ('16/1/2009', '20:03:00',  6.708, 0.358, 236.04, 28.8, 16., 36., 17.),
       ('16/1/2009', '20:30:00',  7.1  , 0.51 , 235.31, 30.8, 27., 28., 17.),
       ('18/1/2009', '20:00:00',  6.23 , 0.232, 232.37, 26.8,  0., 37., 17.),
       ('11/2/2009', '20:49:00',  6.52 , 0.232, 234.45, 28. ,  0., 24.,  0.),
       ('22/2/2009', '20:07:00',  6.916, 0.098, 236.78, 29.2,  0., 73., 17.),
       ('22/2/2009', '20:11:00',  6.694, 0.078, 237.79, 28. ,  0., 73., 18.),
       ('22/2/2009', '20:15:00',  6.738, 0.29 , 237.59, 28.4,  0., 75., 17.),
       ('22/2/2009', '21:02:00',  6.698, 0.406, 236.93, 28.2,  1., 73.,  0.),
       ('22/2/2009', '21:06:00',  6.914, 0.528, 239.2 , 29. ,  1., 74.,  0.),
       ('22/2/2009', '21:11:00',  6.12 , 0.314, 235.58, 26. ,  1., 66.,  0.),
       ('22/2/2009', '21:16:00',  7.306, 0.294, 233.69, 31.4, 37., 49.,  0.),
       ('23/2/2009', '22:05:00',  7.006, 0.266, 232.89, 30. ,  1., 70., 16.),
       ('23/2/2009', '22:10:00',  7.178, 0.218, 235.12, 30.4,  1., 71., 17.),
       ('28/2/2009', '18:43:00',  6.788, 0.392, 228.63, 29.6,  0., 68., 16.),
       ('17/3/2009', '20:24:00',  7.864, 0.   , 237.03, 33.2,  0., 72., 17.),
       ('17/3/2009', '20:28:00',  6.734, 0.086, 237.95, 28.4,  0., 66., 17.),
       ('17/3/2009', '20:32:00',  6.582, 0.   , 237.33, 27.8,  0., 63., 17.),
       ('17/3/2009', '20:38:00',  6.224, 0.   , 235.89, 26.4,  0., 57., 17.),
       ('31/3/2009', '20:34:00',  6.682, 0.148, 232.77, 28.6,  0., 70., 17.),

In [80]:
timer(funct_5)
timer(funct_5_np)

Execution time: 0.10527580000052694 seconds
Execution time: 0.05951110000023618 seconds